@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: -50px;
    min-height: 100% !important;
    height: 100% !important;
    background-color: white;
}

:root{
    --primary: #ffffff;
    --secondary: black;
    --navy:rgb(78, 104, 160);
    --grey: #343F4F;
    

}

/* navbar */
nav{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 10vh;
    background: var(--primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}
.navbar .logo a{
    font-size: 40px;
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
    border-bottom: none;
}


#hide {
    display: inline-flex;
    max-width: 0%;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s ease-in-out;
    font-size: 20px;
    padding-left: 5px;
}
.navbar .logo a:hover #hide {
    max-width: 100%;
}

/* hover */
nav .navbar .links li a:hover  {
    border-bottom: 3px solid var(--navy);
    color: var(--navy);
    transition: all 0.3s ease;
}

#nav_current{
    border-bottom: 3px solid var(--navy);
}


nav .navbar .nav-links{
    height: 100%;
    display: flex;
}
nav .navbar .links{
    display: flex;
    align-items: center;
}
nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}
nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: var(--secondary);
    font-size: 15px;
    font-weight: 500;
}
.links li:hover .work-arrow,
.links li:hover .gallery-arrow{
    transform: rotate(180deg);
}
nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: black;
    transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 40px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}
nav .navbar .links li:hover .work-sub-menu,
nav .navbar .links li:hover .gallery-sub-menu{
    display: block;
}
.navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
    color: var(--secondary);
    font-size: 15px;
    font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
    display: block;
}
.more {
    display: none;
}

.navbar .nav-links .sidebar-logo{
    display: none;
}
.navbar .bx-menu{
    display: none;
}

@media (max-width:920px) {
nav .navbar{
    max-width: 100%;
    padding: 0 25px;
}
nav .navbar .logo a{
    font-size: 27px;
}
nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
}
nav .navbar .links li a{
    font-size: 15px;
}
}


@media (max-width:800px){
#hide{
    display: none;
}
nav{
    position: relative;
}
.navbar .bx-menu{
    display: block;
}
nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  var(--primary);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
}
.navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-logo .logo-name{
    font-size: 25px;
    color: var(--secondary);
}
.sidebar-logo  i,
.navbar .bx-menu{
    font-size: 25px;
    color: var(--secondary);
    }
nav .navbar .links{
    display: block;
    margin-top: 20px;
}
nav .navbar .links li .arrow{
    line-height: 40px;
}
nav .navbar .links li{
    display: block;
}
nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
}
nav .navbar .links li .sub-menu li{
    border-bottom: none;
}
.navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links li:hover .work-arrow,
.links li:hover .gallery-arrow{
    transform: rotate(0deg);
}
.navbar .links li .sub-menu .more-sub-menu{
    display: none;
}
.navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.links li .sub-menu .more:hover .more-sub-menu{
    display: none;
}
nav .navbar .links li:hover .work-sub-menu,
nav .navbar .links li:hover .gallery-sub-menu{
    display: none;
}
.navbar .nav-links.show1 .links .work-sub-menu,
.navbar .nav-links.show3 .links .gallery-sub-menu,
.navbar .nav-links.show2 .links .more .more-sub-menu{
    display: block;
    }
    .navbar .nav-links.show1 .links .work-arrow,
    .navbar .nav-links.show3 .links .gallery-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
    }
}


@media (max-width:370px){
nav .navbar .nav-links{
    max-width: 100%;
} 
}
/* slider */


.banner_slider .slide {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/slider/wewnatrz_main.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-top: 80px;
}


.banner_slider .slide_two {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/slider/zewnatrz_main.jpg);
}

.banner_slider .slide_three {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/slider/prace_main.jpeg);
}

.slide_content {
    color:var(--primary);
    max-width: 800px;
    padding: 25px 25px 0 25px;
    border-width: 4px 4px 0 4px;
    border-color: var(--primary);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    z-index: 99;
    transition: all 0.5s ease;
}

.content_glow:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

.slide_content p {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.slide_content h2 {
    font-size: 55px;
    line-height: 72px;
    margin: 25px 0;
    text-transform: uppercase;
}

.slide_content .btn,.main_page_title .btn, .work_row_text .btn, .work_section_text .btn, .latestwork_carousel .btn, .workselect_column .btn{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
    background-color: var(--navy);
    padding: 10px 42px;
    font-weight: 700;
    display: inline-block;
    outline: 1px solid var(--navy);
}
.main_page_title .btn {
    margin-top: 20px;
    transition: all 0.5s ease;
}
.work_section_text .btn,.workselect_column .btn {
    padding: 10px !important;
}
.work_section_text .btn:hover,.workselect_column .btn:hover {
    outline-offset: 3px;
    outline-color: #fff;
    font-size: 18px;
}

.slide_content .btn:hover {
    background-color: #fff;
    color: var(--navy);
    outline-color: #fff;
    outline-offset: 3px;
}
.main_page_title .btn:hover {
    background-color: var(--navy);
    color: white;
    outline-color:var(--navy);
    outline-offset: 3px;
}

.slide_content .btn_transparent, .work_section_text .btn_transparent {
    background-color: transparent;
    border-color: #fff;
    margin-right: 20px;
    outline-color: #fff;
    transition: all 0.5s ease;
}
.work_section_text .btn_transparent {
    margin: 0;
}

.slide_content .btn_transparent:hover {
    background-color: var(--navy);
    color: #fff;
    outline-color: var(--navy);
    outline-offset: 3px;
}

.banner_slider.slick-slider {
    margin: 0 !important;
}

.banner_slider .slick-dots {
    width: 100%;
    bottom: 6%;
}

.banner_slider .slick-dots li button::before{
    font-size: 16px;
    color: var(--primary);
}
.banner_slider .slick-dots li.slick-active button::before{
    opacity: 1;
    color: var(--primary);
}

section .banner_slider .slick-dots li{
    margin: 0 3px;
}

.banner_slider .slick-arrow{
    position: absolute;
    top: 50%;
    display: block;
    z-index: 9;
    transform: translate(0,-50%);
    cursor: pointer;
    color: #fff;
    font-size: 50px;
}

.banner_slider .slick-arrow.prev{
    left:5px;
    scale: 0.7;
}
.banner_slider .slick-arrow.next{
    right: 5px;
    scale: 0.7;
}

@media only screen and (max-width: 992px){
    .banner_slider .slide{
        height: 50vh;
    }
    .banner_slider .slide{
        padding: 0 24px;
    }
    .slide_content{
        margin-top: 100px;
        max-width: 100%;
        padding: 10px 10px 0 10px;
        padding-bottom: 10px;
        border-width: 2px 2px 0 2px;
        text-align: center;
        align-items: center;
    }
    .slide_content p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }
    .slide_content h2 {
        font-size: 30px;
        line-height: 40px;
        margin: 10px 0;
    }
    .slide_content .btn{
        padding: 8px 24px;
        font-size: 14px;
    }
    .banner_slider .slick-arrow{
        font-size: 25px;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px){
    .banner_slider .slide{
        height: 50vh;
    }
    .slide_content{
        margin-top: 100px;
    }
    .button_wrap{
        max-width: 200px;
        margin: 0 auto;
    }
    .slide_content .btn{
        display: block;
        width: auto;
    }
    .slide_content .btn_transparent{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}


/* text section 1 */
.text_section {
    height: 100%;
    width: 100%;
    background-color: rgb(78,104,160);
    color: var(--primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 150px 0px 150px;
}
.text_section h1{
    font-size: 4vw;
    padding-top: 10px !important;
}
.text_section h2{
    font-size: 4vw;
    border-bottom: solid var(--primary);
}
.text_section p{
    font-size: 1.7vw;
    padding: 10px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px){
    .text_section {
        height: 100% !important;
        padding: 0;
    }
    .text_section h1, .text_section h2{
        font-size: 30px;
    }
    .text_section p{
        font-size: 20px;
    }
}


/* text section 2 */
.text_section2 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.text_section2_inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center ;
    padding: 50px 50px 0 50px;
    gap: 10px;
}
.text_section2_square {
    background-color: var(--navy);
    width: 30%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
.text_section2_square p {
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    color: var(--primary);
}
.text_section2_text {
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}
.text_section2_text p {
    font-size: 2.3vw; 
    font-weight: 300;
}


.exp_counter{
    width: 100%;
    height: 20%;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exp_counter_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.odometer_number{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--navy);
    font-size: 50px;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.odometer_text{
    font-size: 40px;
    font-weight: 500;
}

@media (max-width: 768px){
    .text_section2 {
        height: 100% !important;
    }
    .text_section2_inner {
        flex-direction: column !important;
        padding: 10px !important;
        align-items: center;
    }
    .text_section2_square{
        width: 90%;
        height: 20%;
        aspect-ratio: auto !important;
    }
    .text_section2_text{
        width: 90%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .text_section2_square p{
        font-size: 40px;
    }
    .text_section2_text p{
        font-size: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .exp_counter{
        margin: 30px 0px 30px 0px;
    }
    .exp_counter_inner{
        flex-direction: row !important;
    }
    .odometer_number {
        height: 75px !important;
        width: 75px !important;
        font-size: 40px !important;
    }
    .odometer_text {
        font-size: 20px !important;
    }
}

/* main page */


.main_page {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.main_page_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.main_page_title {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    color: black;
    transition: all 0.5s ease;
}

.main_page_title h2 {
    text-align: flex-end;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.main_page_title p {
    text-align: left;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 300;
}

.main_page_punkty {
    padding: 20px;
}
.main_page_punkty li{
    margin-right: 35px;
    font-size: 25px;
    font-weight: 300;
}

.main_page_photo {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-image: url(img/mainpage/koparka2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Responsywność */
@media (max-width: 700px) {
    .main_page {
        height: 100% ;
    }

    .main_page_title {
        width: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .main_page_inner{
        flex-direction: column;
    }
    .main_page_photo{
        width: 100%;
        height: 100%;
        min-height: 400px;
    }
    .main_page_title h2 {
        font-size: 30px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .main_page_title p {
        font-size: 20px;
        text-align: center;
    }
    .main_page_punkty li {
        font-size: 15px;
        margin-right: 0px;
    }
    .main_page_punkty{
        padding: 10px 0 0 0;
    }
    .main_page_title .button_wrap{
        max-width: none !important;
    }
}
.title_button {
    width: 30%;
    height: 20%;
    margin-top: 5%;
}

#title_button {
    width: 100%;
    height: 100%;
    font-size: 10px ;
}


/*  main page work */
.main_page_work {
    width: 100%;
    height: 70vh;
    padding: 10px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.work_section {
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 20px ;
    transition: all 0.5s ease;
}

.work_section:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--navy);
    background-color: var(--navy);
}
.work_section:hover p1 {
    border-bottom: solid 1px white;
    transition: all 1s ease;
}
.work_section p1:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.work_section_text {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary);
}
.work_section_text .button_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work_section_photo{
    width: 50%;
    height: 100%;
    background-image: url(img/mainpage/wyk_wnetrz.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 0px 20px 20px 0px;
}

.work_section_photo_img2{
    background-image: url(img/mainpage/wyk_zew.JPG);
}
.work_section_text h1{
    font-size: 20px;
    padding: 10px;
}
.work_section_text p{
    font-size: 15px;
    padding-bottom: 20px;
}
.work_section_text p1{
    padding: 5px;
    border-bottom: 1px solid var(--navy);
    cursor: pointer;
}

@media (max-width: 768px){
    .main_page_work{
        flex-direction: column !important;
        height: 75vh !important;
        gap: 10px !important;
    }
    .work_section{
        flex-wrap: wrap !important;
        width: 90% !important;
        height: 50% !important;
    }
    .work_section .button_wrap .btn{
        font-size: 10px;
    }
}

/* latest work  */

.main_page_latestwork {
    width: 100%;
    height: 100%;
}
.latestwork_carousel{
    display: flex;
    padding: 0 35px;
    height: 90vh;
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #343F4F;
    background: var(--navy);
}
.latestwork_carousel p{
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    color: var(--primary);
    text-align: center;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.wrapper{
    padding-top: 20px;
    display: flex;
    max-width: 1200px;
    position: relative;
}
.carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carousel img{
    height: 500px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    margin-top: 10px;
    width: calc(100% / 3);
    transition: all 1s ease;
}


.gallery_inner{
    display: flex;
    padding: 0 35px;
    height: 80vh;
    min-height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #343F4F;
    background: var(--navy);
}
.gallery_inner p{
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.latestwork_carousel p:hover .gallery_inner p:hover{
    transform: scale(1.1);
    border-bottom: 2px solid var(--primary);
}
.latestwork_carousel p1{
    font-size: 20px;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    padding-top: 20px;
    cursor: pointer;
    transition: all 1s ease;
}
.latestwork_carousel p1:hover{
    transform: scale(1.1);
}
.gallery_wrapper{
    padding-top: 20px;
    display: flex;
    max-width: 1200px;
    position: relative;
}
.gallery_wrapper i{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    z-index: 99;
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    user-select: none;
}
.gallery_wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.gallery_wrapper i:hover{
    background: #f2f2f2;
}
.gallery_wrapper i:first-child{
    left: -22px;
    display: none;
}
.gallery_wrapper i:last-child{
    right: -22px;
}
.gallery_wrapper .gallery_carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.gallery_carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.gallery_carousel img{
    height: 500px;
    min-height: 400px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    aspect-ratio: 1/1;
    width: calc(100% / 3);
    transition: all 1s ease;
}
.gallery_carousel img:first-child{
    margin-left: 0px;
}

.btn_gallery {
    font-size: 25px;
    font-weight: 500;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.latestwork_carousel .btn_gallery:hover {
    transform: scale(1.05);
    border-bottom: white solid 3px;
}

@media screen and (max-width: 700px) {
    .gallery_carousel img{
        width: 100%;
    }
    .main_page_latestwork{
        height: 100%;
    }
    .latestwork_carousel{
        height: 100%;
        padding-bottom: 20px;
    }
    .carousel{
        flex-direction: column;
    }
    .carousel img{
        width: 100% !important;
    }

}
@media screen and (max-width: 550px) {
    .gallery_carousel img{
        width: 100%;
    }
}




/* footer */

.footer {
    width: 100%;
    height: 40vh;
    background: var(--grey);
    position: relative;
    bottom: 0;
}

.footer_sections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_contact-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}



@media (max-width: 768px){
    .footer{
        height: 100% !important;
    }
    .footer_inner{
        width: 100%;
    }
    .footer_sections{
        flex-direction: column;
        align-items: center;
    }
    .footer_contact-info{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    
}

/* CONTACT PAGE */

.section_contact {
    height: 100vh;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--navy);
}

.container_contact {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container_contact p {
    font-size: 20px;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: #FFF;
}

.row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    align-items: center;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: white;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #FFF;
    font-size: 1em;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input[type="submit"]
{
    width: 100%;
    background: var(--navy);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--navy);
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
    background: #FFF;
    color: var(--navy);
}

@media (max-width: 991px) {
    .section_contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .row {
        flex-direction: column-reverse;
        gap: 20px;
    }
    
    .contact-info {
        margin-bottom: 40px;
        width: 100%;
    }

    .contact-info-item{
        margin-bottom: 30px;
    }
    
    .contact-form {
        width: 100%;
    }
}


/* ABOUT PAGE */

.container_about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_header {
    width: 100%;
    background-color: var(--navy);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.container_about_inner{
    width: 100%;
    height: 80%;
    padding: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500px;
}

.about_text {
    font-size: 30px;
    font-weight: 300;
}
#about_invite{
    color: black;
    font-weight: bold;
    text-decoration: underline !important;
    cursor: pointer;
}

@media (max-width: 786px) {
    .container_about {
        margin: 0 !important;
    }
    .container_about_inner {
        width: 100%;
        height: 80%;
        padding: 20px;
        border-radius: 0;
    }
}




/* WORK PAGE */

.container_work {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.container_work_header {
    text-align: center;
    padding: 50px;
    color: var(--primary);
    background-color: var(--navy);
}
.container_work_header h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.container_work_header p{
    font-size: 20px;
    font-weight: 300;
}

.container_work_inner {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}
.work_row{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    color: var(--primary);
    color: black;
}

.work_row_img {
    width: 50%;
    height:100%;
    max-height: 600px;
    margin: 50px;
    aspect-ratio: 1/1;
    background-image: url(img/work/work1.JPG);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.work_img2{
    background-image: url(img/work/work2.JPG);
}
.work_img3{
    background-image: url(img/work/work3.jpeg);
}

.row_right {
    flex-direction: row-reverse;
}

.work_row_text {
    width: 50%;
    height: 100%;
    padding: 50px 50px 50px 0px ;
}
.work_row_text h1{
    font-size: 3vw;
    font-weight: 700;
    text-transform: uppercase;
}
.work_row_text p{
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 10px;
}
.row_right .work_row_text {
    padding:50px 0px 50px 50px !important;
}

.work_row_text .button_wrap {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .work_row {
        flex-direction: column-reverse !important;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .row_right .work_row_text{
        padding: 20px 50px 20px 50px !important;
    }
    .work_row_text {
        width: 100%;
        height: 50%;
        padding: 20px 50px 20px 50px !important;
        text-align: center;
    }
    .work_row_img {
        width: 100%;
        height: 50%;
        margin: 0 10px 0 10px;
    }
    .work_row_text h1 {
        font-size: 30px !important;
    }
    .work_row_text p{
        font-size: 20px !important;
    }
}

/* GALLERY PAGE */
.gallery_inner {
    height: 100%;
    padding: 50px;
}

.gallery_inner p{
    padding: 0;
}

.gallery_wrapper {
    padding: 0 !important;
}

.gallery_carousel{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
@media (max-width: 784px){
    .gallery_inner p{
    font-size: 25px;
}
}



/* WYKONCZENIA PAGE */

.container_prace {
    width: 100%;
    height: 100%;
}
.prace_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    color: var(--primary);
    background-color: var(--navy);
    font-size: 25px;
}


.prace_row_text {
    width: 50%;
    height: 100%;
    padding: 50px 50px 50px 0px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
.prace_row_right .prace_row_text{
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}

.prace_inner {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}
.prace_row{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    color: var(--primary);
    color: black;
    padding: 0 50px 0 50px;
}

.prace_row_img {
    width: 50%;
    height:100%;
    max-height: 500px;
    margin: 50px;
    aspect-ratio: 1/1;
    background-image: url(img/prace/img.JPG);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13),
0px 1px 1px 0px rgba(0,0,0,0.11);
}
.prace_img2{
    background-image: url(img/prace/img2.png);
}
.prace_img3{
    background-image: url(img/prace/img3.JPG);
}
.prace_img4{
    background-image: url(img/prace/img4.png);
}
.prace_img5{
    background-image: url(img/prace/img5.png);
}
.prace_img6{
    background-image: url(img/prace/img6.JPG);
}
.prace_img7{
    background-image: url(img/prace/img7.jpeg);
}
.prace_img8{
    background-image: url(img/prace/img8.jpeg);
}
.prace_img9{
    background-image: url(img/prace/img9.jpeg);
}
.prace_img10{
    background-image: url(img/prace/img10.jpeg);
}


.prace_row_right {
    flex-direction: row-reverse;
}

.prace_row_text h1{
    font-size: 3vw;
    font-weight: 700;
    text-transform: uppercase;
}
.prace_row_text p{
    font-size: 2vw;
    font-weight: 300;
    margin-top: 10px;
}
.prace_row_right .prace_row_text {
    padding:50px 0px 50px 50px !important;
}


@media (max-width: 1000px) {
    .prace_row {
        flex-direction: column-reverse !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
    .prace_row_right .prace_row_text{
        padding: 20px !important;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .prace_row_text {
        width: 100%;
        height: 50%;
        padding: 20px !important;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .prace_row_img {
        width: 90%;
        height: 50%;
        margin: 0 10px 0 10px;
    }
    .prace_row_text h1 {
        font-size: 30px !important;
    }
    .prace_row_text p{
        font-size: 20px !important;
    }
}

